.home{   
    padding-top: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

@media only screen and(max-width:748px){
    .home{
        flex-direction: column-reverse;
    }
}

#scrollBtn{
    display: none;
    position: fixed;
    right: 20rem;
    bottom: 4rem;
    border: none;
    padding: 0 1.5rem;
        
}